@page
@model HTMXDemo.Pages._05_ScrollModel
@{
    ViewBag.Title = "Scroll";
}


@await Html.PartialAsync("Pagination")

<hr/>

<div class="alert alert-warning fs-4">
    <div>
        <i class="fa fa-exclamation-triangle"></i> Warning: content will scroll forever.
    </div>
</div>

<div id="#cards" class="d-flex justify-content-center align-content-around flex-wrap mt-5">
        @await Html.PartialAsync("_Cards")
</div>