@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    1.<a asp-page="01_HelloWorld">Hello World</a>
    2.<a asp-page="02_Counter">Counter</a>
    3.<a asp-page="03_Selects">Selects</a>
    4.<a asp-page="04_Search">Search</a>
    5.<a asp-page="05_Scroll">Scroll</a>
    6.<a asp-page="06_Modal">Modal</a>
</div>
